.logo-container{
    width: 2px;
}
.header{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
}
.logo{
    width: 150px;
}
.nav-items>ul{
    display: flex;
}
.nav-items >ul >li{
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}
.res-card{
width: 280px;
height: 340px;
cursor: pointer;
border: none;
border-radius: 5px;
padding: 10px;
margin: 10px;
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.res-container{
    margin-left: 4%;
    display: flex;
    flex-wrap: wrap;
    
}

.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
    padding: 10px;
    
}
.res-card :hover{
    border: 1px solid black;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.search{
    display: flex;
    justify-content: center;
}
.search-input{
    width: 50%;
border-radius: 5px;
height: 40px;
}
.search-button{
    margin-left: 2px;
    border: none;
    border-radius: 5px;
    background: green;
    color: white;
}



.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 280px;
    height: 340px;
    background:lightgrey;
    margin: 20px;

}